/* Start variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 85%);
  --drak-text-color: #777;
  --section-padding: 100px;
  --light-color: #ebfbff;
  --third-color: #006683;
}
/* End variables */

/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 12%);
}

ul {
  list-style: none;
}
/* End global rules */

/* Start component */
.section {
  padding: 100px;
}
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 2px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25%;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border: solid 1px black;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px;
}
.main-heading p {
  width: 550px;
  margin: 0px auto 75px;
  line-height: 1.6;
  color: var(--drak-text-color);
  max-width: 100%;
}
/* End component */

/* Start header */
header {
  padding-top: 10px;
  /* margin-top: 20px; */
  position: absolute;
  width: 100%;
  left: 0%;
  z-index: 4;
  position: fixed;
  background-color: var(--third-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 25px;
}

header:after {
  content: "";
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
}

a.logo-link {
  position: relative;
}

.logo-link::before {
  content: "PRO DESIGN";
  position: absolute;
  color: white;
  display: block;
  font-size: 28px;
  width: 200px;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: normal;
  padding: 10px;
}

@media (max-width: 900px) {
  .logo-link::before {
    font-size: 13px;
    width: 100px;
    left: 50px;
  }
}

body > header > div > a > img.logo {
  height: 100px;
  margin-top: -35px;
  margin-bottom: -35px;
}

@media (max-width: 320px) {
  body > header > div > a > img.logo {
    margin-left: -20px;
  }
  .logo-link::before {
    margin-left: -15px;
  }
}

header nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  body > header > div > nav > ul {
    display: none;
  }
  body > header > div > a > img.logo {
    margin-bottom: -10px;
    margin-top: -10px;
  }
}

header nav ul li a {
  display: block;
  padding: 25px 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: solid 1px var(--main-color);
}

header nav .menu-in-mobile {
  color: white;
  font-size: 22px;
  margin-right: 15px;
}

header nav .menu-in-mobile:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0%;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.75);
}

header nav .menu-in-mobile:hover + ul li a {
  padding: 15px;
}

@media (min-width: 768px) {
  header nav .menu-in-mobile {
    display: none;
  }
}

header nav .search-form {
  width: 40px;
  height: 30px;
  display: flex;
  border-left: 1px solid white;
  justify-content: center;
  align-items: center;
}
header nav .search-form i {
  font-size: 15px;
  color: rgb(224, 224, 224);
}
/* End header */

/* Start landing */
.landing {
  min-height: 100vh;
  background-color: #1b2533;
  background-image: url("../img/landing.png");
  background-size: cover;
  position: relative;
}

body > div > div.overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.landing .text {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  color: white;
  width: 50%;
  min-width: 323px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
}

.landing .text .content {
  max-width: 500px;
}

.landing .text h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    margin-top: 50px;
  }
  .landing .text h2 {
    font-size: 20px;
    line-height: 1.6;
  }
}

.landing .text p {
  line-height: 1.8;
}

.change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-color);
}

@media (max-width: 767px) {
  .change-background {
    display: none;
  }
}

.landing .fa-angle-left {
  position: absolute;
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  display: flex;
}

.landing .bullets li {
  border: 1px solid var(--main-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: 5px;
}

.landing .bullets li.active {
  background-color: var(--main-color);
}
/* End landing */

/* Start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  body > div.services > div > div.serv-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px;
  }
}

.services .serv-container .serv-box {
  display: flex;
}
.services .serv-container .serv-box i {
  margin-right: 35px;
  color: var(--third-color);
}

@media (max-width: 767px) {
  .services .serv-container .serv-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .serv-container .serv-box i {
    margin: 0 0 25px;
  }
}
.services .serv-container .serv-box h3 {
  margin-bottom: 25px;
  color: var(--main-color);
}
.services .serv-container .serv-box p {
  line-height: 1.8;
  color: var(--drak-text-color);
}
/* End services */

/* Start design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  background-image: url(../img/office.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
}

.design .text2 {
  position: relative;
  flex: 1;
  z-index: 3;
}

.design .photo {
  position: relative;
  flex: 1;
  z-index: 2;
}

.design .photo {
  text-align: center;
}

@media (max-width: 767px) {
  .design .photo {
    display: none;
  }
}

.design .photo img {
  position: relative;
  height: 500px;
  bottom: -55px;
  opacity: 0.4;
}

.design .text2 {
  color: white;
  padding: 40px;
  background-color: var(--transparent-color);
}

.design .text2 h2 {
  line-height: 1.6;
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.design .text2 ul li {
  padding: 0 0 15px;
  line-height: 1.6;
}

.design .text2 ul li::before {
  font-family: "font Awesome 5 free";
  content: "\f108";
  font-weight: 900;
  margin-right: 15px;
}
/* End design */

/* Start porfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffil {
  display: flex;
  justify-content: center;
}
.portfolio .shuffil li {
  padding: 10px;
}

.portfolio .shuffil li.active {
  background-color: var(--main-color);
  color: white;
}

div.my-work {
  background-color: var(--light-color);
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.portfolio .imgs-container .box {
  background-color: var(--light-color);
  border: solid 2px white;
  flex-basis: 20%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}

.portfolio .imgs-container .box img {
  width: 100%;
  transition: 0.3s;
}

.portfolio .imgs-container .box:hover img {
  transform: scale(1.03);
}

.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -100%;
  transition: 00.3s;
  padding: 10px 0 10px 20px;
  background-color: white;
}

.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}

.portfolio .imgs-container .box h4 {
  color: var(--main-color);
  font-weight: normal;
  margin-bottom: 7px;
}

.portfolio .imgs-container .box p {
  color: var(--drak-text-color);
}

.portfolio a.more {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: 30px auto;
}
/* End porfolio */

/* Start video */
.main-video {
  position: relative;
}

.main-video::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.main-video video {
  width: 100%;
}

.text-main-video {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
}

@media (max-width: 767px) {
  .text-main-video {
    padding: 20px;
    background-color: rgb(15 116 143 / 50%);
  }
}

.text-main-video h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.text-main-video p {
  margin: 10px;
}
.text-main-video button {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}
/* End video */

/* Start about */
.about-section {
  padding-top: var(--section-padding);
  text-align: center;
}

.img-about {
  max-width: 90%;
}

.pc-mobile-img {
  width: 30%;
}

@media (max-width: 767px) {
  .img-about {
    flex-direction: column;
    margin-top: -70px;
    border-bottom: 1px solid #777;
  }
  .pc-mobile-img {
    width: 48%;
  }
}

@media (max-width: 575px) {
  .pc-mobile-img {
    width: 51%;
  }
}
/* End about */

/* Start statistics */
.statistics {
  width: 100%;
  margin-top: 75px;
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  text-align: center;
  background-image: url(../img/photo-statistics.jpg);
  background-size: cover;
  background-position-y: -85px;
  position: relative;
}

@media (max-width: 1156px) {
  .statistics {
    background-position-y: 0;
  }
}

.statistics::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.statistics .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statistics .container .statistics-box {
  color: white;
  width: 200px;
  padding: 50px 0;
  background-color: var(--transparent-color);
  margin: 5px;
}
.statistics .container .statistics-box .note-almost {
  margin-left: 5px;
  font-size: xx-small;
}

.statistics .container .statistics-box i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
  border-radius: 50%;
  margin: 0 auto 20px;
}

.statistics .container .statistics-box div.number {
  font-size: 38px;
  margin-bottom: 15px;
}
/* End statistics */

/* Start testimonials & sills */

body > div.testimonials-and-skills > div.container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body > div.testimonials-and-skills > div.container > div {
  flex-basis: 45%;
}

@media (max-width: 991px) {
  body > div.testimonials-and-skills > div.container > div {
    flex-basis: 100%;
  }
}

body > div.testimonials-and-skills > div.container > div > h3 {
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

body > div.testimonials-and-skills > div.container > div > p {
  text-align: center;
  line-height: 1.6;
  color: var(--drak-text-color);
  margin-bottom: 30px;
}

body > div.testimonials-and-skills > div > div.testimonials > div.user-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--drak-text-color);
}

.customer-img {
  background-color: var(--light-color);
  padding: 20px;
  width: 100px;
  border-radius: 50%;
  mask-mode: var(--main-color);
  margin-right: 20px;
  align-self: flex-start;
}

body > div.testimonials-and-skills > div > div.testimonials div.text {
  line-height: 1.8;
}

@media (max-width: 991px) {
  body > div.testimonials-and-skills > div > div.testimonials > div.user-box {
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: none;
  }
  .customer-img {
    margin-bottom: 20px;
    margin-right: 0;
    align-self: center;
  }
  body > div.testimonials-and-skills > div > div.testimonials div.text {
    margin-bottom: 20px;
    text-align: center;
    max-width: 500px;
    border: solid 1px var(--drak-text-color);
    padding: 20px;
  }
}

body > div.testimonials-and-skills > div > div.testimonials div.text p {
  color: var(--drak-text-color);
  background-color: #eee;
  min-width: 140px;
  max-width: fit-content;
  margin: 20px auto;
  padding: 7px 15px;
  text-align: center;
}

div.testimonials-bullets > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

div.testimonials-bullets > ul > li {
  border: 1px solid var(--main-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: 5px;
}

div.testimonials-bullets > ul > li.active {
  background-color: var(--main-color);
}

.skills .prog-holder {
  margin-bottom: 40px;
}

.skills .prog-holder h4 {
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
.skills .prog-holder .prog {
  background-color: #eee;
  height: 20px;
}
.skills .prog-holder .prog span {
  background-color: var(--main-color);
  height: 100%;
  display: block;
  position: relative;
}

.skills .prog-holder .prog span::before {
  content: attr(prog-value);
  position: absolute;
  right: -20px;
  top: -35px;
  background-color: var(--third-color);
  color: white;
  font-size: 11px;
  padding: 7px 10px;
  border-radius: 7%;
}

.skills .prog-holder .prog span::after {
  content: "";
  border-color: var(--third-color) transparent transparent;
  border-style: solid;
  border-width: 5px;
  right: -5px;
  top: -10px;
  position: absolute;
}
/* End testimonials & sills */

/* Start quote */

div.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../img/quote.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
}
div.quote::before {
  content: "";
  background-color: hsla(193, 100%, 26%, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

div.quote .container {
  position: relative;
}

div.quote q {
  font-size: 28px;
  display: block;
  margin: 20px;
  padding: 20px;
}

div.quote q::before {
  font-family: "font Awesome 5 free";
  content: "\f10d";
  font-weight: 900;
  margin: 10px;
}

div.quote q::after {
  font-family: "font Awesome 5 free";
  content: "\f10e";
  font-weight: 900;
  margin: 10px;
}

div.quote span.quote {
  text-transform: uppercase;
  color: #eee;
}
/* End quote */

/* Start pricing */
div.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

div.pricing div.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

div.pricing div.plans div.plan-box {
  background-color: var(--light-color);
  text-align: center;
  color: var(--third-color);
}
div.pricing div.plans div.plan-box div.head-plan {
  padding: 40px 20px;
  border-top: solid 1px var(--main-color);
  border-bottom: solid 1px var(--main-color);
}
div.pricing div.plans div.plan-box div.head-plan h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: normal;
}

div.pricing div.plans span.price {
  font-size: 45px;
  font-weight: bold;
}
div.pricing div.plans span.price::before {
  content: "$";
  font-size: 1.5rem;
  position: relative;
  top: -15px;
  margin-right: 10px;
  font-weight: normal;
}
div.pricing div.plans span.price::after {
  content: "/Mo";
  font-size: 1.5rem;
  position: relative;
  margin-left: 5px;
  font-weight: normal;
}

div.pricing div.plans div.plan-box ul {
  border-bottom: solid 1px var(--main-color);
}
div.pricing div.plans div.plan-box ul li {
  padding: 20px;
  position: relative;
}
div.pricing div.plans .plan-box ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}

div.pricing div.plans .plan-box .foot-plan a {
  display: block;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  text-decoration: none;
  border: 1px solid var(--main-color);
}

div.pricing div.plans .plan-box .foot-plan a:hover {
  background-color: var(--main-color);
  color: white;
  border-radius: 4px;
}
div.pricing p.text-contact {
  text-align: center;
  margin: 35px auto;
  font-size: 20px;
  color: #777;
}
div.pricing a.button-contact {
  display: block;
  text-decoration: none;
  margin: 20px auto;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
}

div.pricing a.button-contact:hover {
  background-color: #ebfbff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: black;
}
/* End pricing */

/* Start subscribe */
div.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

div.subscribe::before {
  content: "";
  background-color: hsla(193, 100%, 26%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.subscribe div.container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  div.subscribe div.container {
    flex-direction: column;
  }
}

div.subscribe div.container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

div.subscribe div.container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
div.subscribe div.container form input[type="email"] {
  padding: 20px 20px 20px 60px;
  background-color: hsla(209, 100%, 11%, 0.5);
  border: solid 1px white;
  border-right: none;
  caret-color: var(--main-color);
  outline: none;
  width: calc(100% - 130px);
  color: white;
}

div.subscribe div.container form ::placeholder {
  color: white;
}

div.subscribe div.container form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  padding: 20px;
  border: solid 1px white;
  border-left: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

div.subscribe div.container p.form-text {
  margin-left: 35px;
  line-height: 1.6;
}

@media (max-width: 991px) {
  div.subscribe div.container p.form-text {
    margin-top: 35px;
    text-align: center;
    margin-left: 0;
  }
}
/* End subscribe */

/* Start contact us */
div.contact-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

div.contact-us div.contact-content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  div.contact-us div.contact-content {
    flex-direction: column;
  }
}

div.contact-us form {
  flex-basis: 70%;
}

div.contact-us form input.main-input,
div.contact-us form textarea {
  display: block;
  caret-color: var(--main-color);
  outline: none;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

div.contact-us form textarea.main-input {
  max-lines: 5;
}

div.contact-us form textarea.main-input {
  height: 200px;
}

div.contact-us form input[type="submit"] {
  display: flex;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

div.contact-us div.contact-content div.text-info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  div.contact-us div.contact-content div.text-info {
    order: -1;
    margin-bottom: 20px;
    border: solid 1px var(--drak-text-color);
    padding: 20px;
  }
}

div.contact-us div.contact-content div.text-info h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

div.contact-us div.contact-content div.text-info span.phone-no {
  display: block;
  color: var(--drak-text-color);
}

div.contact-us div.contact-content div.text-info h4:nth-of-type(2) {
  margin-top: 110px;
}

@media (max-width: 767px) {
  div.contact-us div.contact-content div.text-info h4:nth-of-type(2) {
    margin-top: 35px;
  }
  div.contact-us div.contact-content div.text-info h4 {
    margin-bottom: 10px;
  }
}

div.contact-us div.contact-content div.text-info address {
  font-style: normal;
  line-height: 1.6;
  color: var(--drak-text-color);
}
/* End contact us */

/* Start footer */

.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  position: relative;
  color: white;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background-color: var(--third-color);
}

.footer .container {
  display: flex;
  position: relative;
  align-content: center;
  flex-direction: column;
}

.footer .logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer .logo-footer img {
  width: 75px;
  margin-left: -20px;
}

.footer .logo-footer h4 {
  display: inline;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: normal;
}

.footer p.social-text {
  position: relative;
  margin-bottom: 50px;
}

.footer .social-text::before {
  content: "";
  background-color: white;
  width: 25%;
  height: 1px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.footer .social-icons-footer i {
  font-size: 18px;
  color: white;
  margin: 0px 5px 30px;
}

.footer .rights-reserved {
  margin-top: 50px;
}

.footer .rights-reserved span {
  color: var(--main-color);
  text-transform: uppercase;
}
/* End footer */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  element {
    color: value;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  element {
    color: value;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  element {
    color: value;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  element {
    color: value;
  }
}
